<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 class="display-4">Express Handlebars</h1>
                <p class="lead">Jumbo helper text</p>
                <hr class="my-2">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis sapiente, incidunt doloremque optio maxime provident, officia earum voluptatem eius explicabo error excepturi dolorum consectetur nam labore impedit quae voluptatum illum!</p>
                <p class="lead">
                    <a class="btn btn-dark btn-lg" href="/ideas/add" role="button">Jumbo action name</a>
                </p>
            </div>
        </div>
    </div>
</div>